@model SystemHotelowy.Models.Booking

@{
    ViewData["Title"] = "Cancel Reservation";
}

<h1>Cancel Reservation</h1>

<h3>Are you sure you want to cancel this?</h3>
<div class="alert alert-warning">
    <strong>Warning!</strong> This action will change the status to "Canceled" and free up the room.
</div>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class="col-sm-2">
            Guest Name
        </dt>
        <dd class="col-sm-10">
            @Model.Visitor?.FirstName @Model.Visitor?.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartReservation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndReservation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            Receptionist Name
        </dt>
        <dd class="col-sm-10">
            @if (@Model.Receptionist?.FirstName != null || @Model.Receptionist?.LastName != null)
            {
                @Model.Receptionist?.FirstName @Model.Receptionist?.LastName
            }
            else
            {
                <span class="text-muted">Nothing to display</span>
            }
        </dd>
    </dl>

    <form asp-action="Canceled" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirm Cancellation</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
