@model SystemHotelowy.Models.Booking

@{
    ViewData["Title"] = "Details";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class="col-sm-2">
            Guest Name
        </dt>
        <dd class="col-sm-10">
            @Model.Visitor?.FirstName @Model.Visitor?.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartReservation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndReservation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            Receptionist Name
        </dt>
        <dd class="col-sm-10">
            @if (@Model.Receptionist?.FirstName != null || @Model.Receptionist?.LastName != null)
            {
                @Model.Receptionist?.FirstName @Model.Receptionist?.LastName
            }
            else
            {
                <span class="text-muted">Nothing to display</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status.Id)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Receptionist"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
