@model IEnumerable<SystemHotelowy.Models.Booking>

@{
    ViewData["Title"] = "All Reservations";
}

<h1>All Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Create New Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Receptionist"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.RoomId)
                </th>
            }            
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receptionist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Receptionist"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.RoomId)
                </td>
            }              
            <td>
                @item.Visitor?.FirstName @item.Visitor?.LastName
            </td>
            <td>
                @item.StartReservation.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item.EndReservation.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item.ReservationDate.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @item.Receptionist?.FirstName @item.Receptionist?.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            @if (User.IsInRole("Receptionist"))
            {
                <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            }
            else
            {
                <td>
                    @if (item.StatusId == 1 || item.StatusId == 2)
                    {
                            <a asp-action="Canceled" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Cancel</a>
                    }
                    else
                    {
                            <a class="btn btn-sm btn-light">Executed</a>
                    }
                </td>
            }
            </tr>
}
    </tbody>
</table>
