@model IEnumerable<SystemHotelowy.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Receptionist"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.RoomId)
                </th>
            }            
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Receptionist"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.RoomId)
                </td>
            }              
            <td>
                @item.AppUser.FirstName @item.AppUser?.LastName
            </td>
            <td>
                @item.StartReservation.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item.EndReservation.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            @if (User.IsInRole("Receptionist"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
