@model IEnumerable<SystemHotelowy.Models.Booking>

<style>
    .active-today td{
        background-color: lightblue;
        font-weight: bold;
    }
    .active-noshow td{
        background-color: lightyellow;
        font-weight: bold;
    }
    .information_ring{
        display:flex;
    }
    .inside_ring{
        opacity: 0;
    } 
    .today{
        background-color: lightblue;
        border-radius: 50%;
        border: solid;
        width: 2vw;
        height: 2vw;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-right: 2%;
    }
    .noshow{
        background-color: lightyellow;
        border-radius: 50%;
        border: solid;
        width: 2vw;
        height: 2vw;
        display:flex;
        justify-content: center;
        align-content: center;
        margin-right: 2%;
    }
</style>

<h1 class="mb-4">Reception Desk</h1>
<div>
    <div class="information_ring">
        <div class="noshow"><p class="inside_ring">y</p></div>
        <p>Guest is late</p>
    </div>
    <div class="information_ring">
        <div class="today"><p class="inside_ring">b</p></div>
        <p >Guest should be today</p>
    </div>
</div>
<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link @(ViewBag.ActiveTab == "pending" ? "active" : "")" asp-action="Index" asp-route-tab="pending">
            Pending Confirmation
            @if(ViewBag.CountPending > 0)
            {
                <span class="badge rounded-pill bg-danger">@ViewBag.CountPending</span>
            }                
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.ActiveTab == "confirmed" ? "active" : "")" asp-action="Index" asp-route-tab="confirmed">
            To Check-In
            @if (ViewBag.CountConfirmed > 0)
            {
                <span class="badge rounded-pill bg-danger">@ViewBag.CountConfirmed</span>
            }
                
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.ActiveTab == "checkout" ? "active" : "")" asp-action="Index" asp-route-tab="checkout">
            To Check-Out
            @if (ViewBag.CountCheckIn > 0)
            {
                <span class="badge rounded-pill bg-danger">@ViewBag.CountCheckIn</span>
            }
                
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.ActiveTab == "archived" ? "active" : "")" asp-action="Index" asp-route-tab="archived">Archived/Cancelled</a>
    </li>
</ul>

<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th>Guest</th>
            <th>Room</th>
            <th>Dates of Stay</th>
            <th>Date of Reservation</th>
            @if (ViewBag.ActiveTab != "pending")
            {
                <th>Confirmed by</th>
            }
            @if (ViewBag.ActiveTab == "archived")
            {
                <th>Status</th>
            }
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            bool isToday = item.StartReservation == DateTime.Today ||
            item.EndReservation == DateTime.Today;

            bool isNoShow = item.StartReservation < DateTime.Today ||
            item.EndReservation < DateTime.Today;

            <tr class="@(isToday ? "active-today" : "") @(isNoShow ? "active-noshow" : "")">
                <td>@item.Visitor?.FirstName @item.Visitor?.LastName</td>
                <td>@item.Rooms?.RoomNumber</td>
                <td>@item.StartReservation.ToShortDateString() - @item.EndReservation.ToShortDateString()</td>
                <td>@item.ReservationDate.ToShortDateString()</td> 

                @if (ViewBag.ActiveTab != "pending")
                {
                    <td>@item.Receptionist?.FirstName @item.Receptionist?.LastName</td>
                }

                @if (ViewBag.ActiveTab == "archived")
                {
                    <td>@item.Status?.Name</td>
                }

                <td>
                    <form asp-action="ChangeStatus" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="hidden" name="currentTab" value="@ViewBag.ActiveTab" />

                        @if (ViewBag.ActiveTab == "pending")
                        {
                            <button name="newStatus" value="2" class="btn btn-sm btn-success">Confirm</button>
                            <button name="newStatus" value="4" class="btn btn-sm btn-danger">Cancel</button>
                        }
                        else if (ViewBag.ActiveTab == "confirmed")
                        {
                            <button name="newStatus" value="3" class="btn btn-sm btn-primary">Check-In</button>
                            <button name="newStatus" value="4" class="btn btn-sm btn-danger">Cancel</button>
                            <button name="newStatus" value="6" class="btn btn-sm btn-dark">No-show</button>
                        }
                        else if (ViewBag.ActiveTab == "checkout")
                        {
                            <button name="newStatus" value="5" class="btn btn-sm btn-warning">Check-Out</button>
                        }

                        <a asp-controller="Reception" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>